html
    head
		+h.headers
		+load('font')
		+h.load('/template/style.scss')
		+h.load('https://code.jquery.com/jquery-3.2.1.min.js')

		block title
			title= site.title

	body
		.wrapper
			header.site
				+font('chaomingti')
					h1.title
						a(href='/')= site.title
				.description: site.configs.sub_title

			nav
				+site.just_nav

			#layout
				block content

			footer
				.leftfoot
					+site.socials
					+posts.search_in_html()
				.rightfoot
					.credit
						span= '©%s %s' %(site.now.year, site.title)
						span Theme 
							a(href='https://blog.shuiba.co/bitcron-theme-ordinary') 「庸」
							| by Shuibaco
						span
							| Powered by 
							a(href='https://bitcron.com', target='_blank') Bitcron


	+h.back_to_top(label="▲")